.mambo {
    display: inline-block;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 1em;
}

.mambo img {
    filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.4));
    max-width: 50%;
}

.mamboContainer {
}
