html {
    text-align: center;
    font-family: system-ui, -apple-system, "Noto Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, input, textarea, select, button {
    font-family: inherit;
}

@font-face {
  font-family: "Torus";
  src: url("./fonts/Torus-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Torus";
  src: url("./fonts/Torus-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaSans";
  src: url("./fonts/MonaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MonaSans";
  src: url("./fonts/MonaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
