.h1 {
    text-align: center;
    background-color: #FBCEB1;
    margin: auto;
    width: 67%;
    border: 5px solid #9DAADE;
    padding: 10px;
}

.osu {
    font-family: "Torus", sans-serif;
    display: inline-block;
    border-radius: 6px;
    text-decorations: none;
    background: #ff66aa;
    border: white;
    padding: 10px 16px;
}

.center {
    text-align: center;
}
