.h1 {
    text-align: center;
    background-color: #FBCEB1;
    margin: auto;
    width: 67%;
    border: 5px solid #9DAADE;
    padding: 10px;
}

.osu {
    font-family: "Torus", sans-serif;
    display: inline-block;
    border-radius: 6px;
    text-decoration: none;
    background: #ff66aa;
    color: white;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
    padding: 3px 12px 7px;
}

.center {
    text-align: center;
}
